/* Estilos generales */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    height: 100%;
    display: flex;
    flex-direction: column;
    max-width: 100%;
    overflow-x: hidden;
}

/* Estilos del encabezado */
header {
    background-color: #000000;
    color: #ffffff;
    padding: 20px;
}

h2, p {
    color: #000000;
}

p {
    font-size: 20px;
}

html{
    max-width: 100%;
    overflow-x: hidden;
}

.datos{
    font-size: 30px;
    margin-bottom: 1%;
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: 0 auto;
}

.header-content a {
    text-decoration: none;
    color: inherit;
}

.menu-btn {
    cursor: pointer;
}

.menu-btn-icon {
    font-size: 24px;
}

.menu-nav {
    background-color: #000000;
    padding: 10px;
    display: none;
    width: 90%;
    margin: 0 auto;
}

/* SI FALLA BORRAR ESTO */
.menu-nav.active {
    display: block;
}

.menu-nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-align: center;
    font-size: 100%;
}

.menu-nav li {
    margin-bottom: 10px;
    width: 100%;
    text-align: center;
}

.menu-nav a {
    color: #ffffff;
    text-decoration: none;
    display: block;
}

tbody td, th{
    color: #000000;
}

table {
    width: 90%;
    border-collapse: collapse;
}

/* Estilos de las secciones */
main {
    width: 100%;
    /*
    margin: 20px auto;
    height: 100%;
    */
    flex: 1;
}

section {
    /*margin-bottom: 20px;
    padding: 20px;
    height: 100%;*/
    background-color: rgba(0, 0, 0, 0); /* fondo blanco semitransparente */
}

section.section1, section.section2, section.section3 {
    background-color: rgb(255, 255, 255); /* fondo blanco semitransparente */
}

section.etiqueta-hermandad {
    display: flex;
    padding: 0;
    margin: 0%;
    background-color: rgb(255, 255, 255); /* fondo blanco semitransparente */;
}

section.escudo-hermandad {
    flex: 1;
    justify-content: center;
    align-items: center;
}

section.detalle-hermandad {
    flex: 3;
    flex-direction: row;
    display: block;
    padding-left: 0px;
}

.titulo-hermandad{
    flex: 3;
}

.titulo-hermandad h2{
    font-size: 2em;
    margin: 0%;
}

.sede-canonica{
    flex: 1;
}

.sede-canonica p{
    font-size: 1em;
    margin: 0%;
}

section.titulo-hermandad-largo{
    background-color: #ffffff;
    text-align: center;
}

section.imagen-pasos {
    width: 100%;
    padding: 0%;
}

section.mapa-recorrido{
    display: block;
    margin: 0 auto;
    background-color: #ffffff;
}

section.datos-hermandad{
    background-color: #ffffff;
}

.escudo{
    justify-content: center;
    align-items: center;
    height: 120px;
    width: auto;
}

.foto-pasos{
    width: 100%;
    height: auto;
}

section h2, p {
    margin-top: 0;
    margin-right: 10%;
}

.mapa-recorrido {
    width: 350px;
    height: 600px;
}

/*
main.principal {
    min-height: 100vh;
    height: 100%;
    background-image: url('images/esperanza_cautivo.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
*/

main section {
    width: 100%;
    padding: 20px;
}

section.imagen-portada{
    padding: 0%;
    height: 600px;
}

.botones-verticales {
    display: flex;
    flex-direction: column; /* Apila los botones verticalmente */
    gap: 10px; /* Espacio entre los botones */
    margin-top: 15px;
    margin-right: 10%;
}

.boton {
    display: inline-block;
    padding: 10px 20px;
    color: white;
    text-decoration: none;
    text-align: center;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.3s;
}

#borriquita{
    background-color: #af4c4c; /* Verde bonito */
}

#cautivo{
    background-color: #4CAF50; /* Verde bonito */
}

#presentacion{
    background-color: rgba(45, 48, 146);
}

#prendimiento{
    background-color: rgba(127, 62, 10);
}

#pasion{
    background-color: rgb(49, 49, 49);
}

#trescaidas {
    background-color: rgb(61, 0, 61);
}

#oracion {
    background-color: rgb(25, 26, 99);
}

#lacena {
    background-color: #af4c4c;
}

#veracruz {
    background-color: rgb(49, 49, 49);
}

.boton:hover {
    background-color: #45a049; /* Cambio al pasar el mouse */
}

.tabla-recorrido{
    border-collapse: collapse;
}

.tabla-recorrido th, .tabla-recorrido td {
    border: 1px solid rgb(0, 0, 0);
    padding: 5px;
}